{% extends 'Member/m_index.html' %}  
{% block content %}   
 <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Add Complaints <small class="text-muted">Welcome to Black Label Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Black Label Society</a></li>
                                                            <li class="breadcrumb-item">Members</li>
                                                                                        <li class="breadcrumb-item active">Add Complaints</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Basic</strong> Information <small>Description text here...</small> </h2>
                    <ul class="header-dropdown">
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <form action="{% url 'm-add-complaint' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                <div class="body">
                     <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group"></div>                       
                            
                                <input placeholder="--Select House_No--" name="house_no" class="form-control" list="house">
                            </div> 
                                <datalist id="house">

                                {% for h in house_all %}

                                <option value="{{h}}">

                                {% endfor %}        
                              

                            </datalist>
                        </div>
                        <br></br>

                        <div class="col-sm-4">
                            <form action="/action_page.php"> 
                                <!-- <input placeholder="gender" name="gender" class="form-control" list="gender">
                                <datalist id="gender">
                                  <option value="Male">
                                  <option value="Female">
                                  <option value="Others">
                                  
                                </datalist>
                        
                        </div>

                        <div class="col-sm-4">
                             <form action="/action_page.php"> -->
                                <!-- <input placeholder="--Select Marritial Status--" name="marrital_status" class="form-control" list="m_status">
                                <datalist id="m_status">
                                  <option value="Married">
                                  <option value="Single">
                                  
                            </div> -->
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name ="title" placeholder="Title">
                                </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="4" class="form-control no-resize" name="description" placeholder="Enter Description" ></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="file" class="form-control" name ="pic" placeholder="Add Photos">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="file" class="form-control" name ="video" placeholder="Add Video File">
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div class="row clearfix">
                        <div class="col-sm-3">

                            <div class="form-group">
                                <input type="date" class="form-control" name="birthdate" placeholder="Date of Birth">
                            </div>
                        </div>
                        
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="job_specifications" placeholder="Job Specification">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="mobileno" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="no_of_members" placeholder="No. of Family Members">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Enter Your Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="no_of_vehicles" placeholder="No. of Vehicle">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="vehicle_type" placeholder="Vehicle Details">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="file" class="form-control" name="id_proof" placeholder="Insert ID Proof" >
                            </div>
                        </div>
                        
                            
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="4" class="form-control no-resize" name="job_address" placeholder="Enter Job Address"></textarea>
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-round" value="submit"/>
                            <input type="reset" class="btn btn-default btn-round btn-simple" value="Reset" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Member's</strong> Account Information <small>Description text here...</small> </h2>
                    <ul class="header-dropdown">
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="User Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-round">Submit</button>
                            <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Member</strong> Social Media Info <small>Description text here...</small> </h2>
                    <ul class="header-dropdown">
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-facebook"></i></span>
                                <input type="text" class="form-control" placeholder="Facebook">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-twitter"></i></span>
                                <input type="text" class="form-control" placeholder="Twitter">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-google-plus"></i></span>
                                <input type="text" class="form-control" placeholder="Google Plus">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-linkedin"></i></span>
                                <input type="text" class="form-control" placeholder="LinkedIN">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-behance"></i></span>
                                <input type="text" class="form-control" placeholder="Behance">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-dribbble"></i></span>
                                <input type="text" class="form-control" placeholder="dribbble">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p> <b>With Search Bar</b> </p>
                            <select class="form-control z-index show-tick" data-live-search="true">
                                <option>Hot Dog, Fries and a Soda</option>
                                <option>Burger, Shake and a Smile</option>
                                <option>Sugar, Spice and all things nice</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-round">Submit</button>
                            <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

            </div>
        </section>
        
{% endblock %}